# Example production environment configuration

aws_profile = "iac"
aws_region  = "eu-north-1"
env         = "production"
name        = "pictapp-stage"

# key_name = "<existing-keypair>"
# bucket_name = "<unique-bucket-name>"
